{% extends 'base.html.twig' %}

{% block title %}Mes scripts!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Bienvenue !</h1>
        <h3>Voici la liste de mes scripts</h3>
        <div>
            <p><a href="{{ path('index') }}">analyse fichier CSV de transaction crypto</a></p>
        </div>
    </div>


{% endblock %}
